footer {
    background-image: url(../../../public/imagens/fundo.png);
    background-color: #6278F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}

footer .icones{
    display: flex;
    gap: 35px;
}

footer .texto{
    color: white;
    font-family: var(--fonte-textos-corridos);
    font-size: 20px;
}

footer .texto a{
    text-decoration: none;
    color: white;
}
